<% provide :page_title, t('.title') %>

<div class="card title">
  <div class='card-title'>
    <i class="bi bi-chat-dots-fill fs-1 yellow circular icon"></i>
    <h4 class="ui center medium aligned icon header">
      <%= t('.title') %>
    </h4>
  </div>
</div>

<% if @user %>
  <%= link_to t('.link.new'), new_user_chatroom_path(@user), 
      class: "ui blue submit button mb-2" %>
<% end %>
<div class='card chatbox'>
  <div class='card-body'>
    <% if @chatrooms.try(:any?) %>
      <div class='card-text scroll'>
        <%= turbo_frame_tag :chatrooms do %>
          <ul>
            <%= render @chatrooms %>
          </ul>
        <% end %>
      </div>
    <% else %>
      <%= render 'blank' %>
    <% end %>
  </div>
</div>