<% provide :page_title, @chatroom.chatroom_name %>

<% if @users.find_by(id: @user.id).nil? %>
  <h1 class='my-2 text-center'>
    <p><%= @chatroom.chatroom_name %></p>
    <div class="btn-group" role="group">
      <%= link_to t('.become_participant'), chatroom_chatrooms_users_path(@chatroom), 
          data: { turbo_method: :post }, class: "ui blue submit button", type: "button" %>
      <% if @chatroom.user == @user %>
        <%= link_to t('chatrooms.link.edit'), edit_chatroom_path(@chatroom), 
            class: "ui blue submit button" , type: "button" %>
        <%= link_to t('chatrooms.link.delete'), chatroom_path(@chatroom), 
            data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, 
            class: "ui blue submit button", type: "button" %>
      <% end %>
    </div>
  </h1>
<% else %>
  <h1 class='my-2 text-center'>
    <%= @chatroom.chatroom_name %><br />
    <div class="btn-group" role="group">
      <%= link_to t('.exit_from_participants'), chatroom_chatrooms_users_path(@chatroom), 
        data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "ui blue submit button" %>
      <% if @chatroom.user == @user %>
        <%= link_to t('chatrooms.link.edit'), edit_chatroom_path(@chatroom), 
            class: "ui blue submit button" %>
        <%= link_to t('chatrooms.link.delete'), chatroom_path(@chatroom), 
            data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, 
            class: "ui blue submit button" %>
      <% end %>
    </div>
  </h1>
  <div class='container body'>
    <div class='row row-cols-2'>
      <div class='col-9'>
        <div class="card shadow p-3 mb-5 bg-body-tertiary rounded chatbox">
          <div class='card-body'>
            <div class='card-text'>
              <div class='card messagesbox'>
                <div class="card-body">
                  <div class="card-text scroll" id="chat-container">
                    <%= turbo_stream_from @chatroom %>
                    <%= turbo_stream_from [@user, @chatroom] %>
                    <%= tag.div id: "#{dom_id(@chatroom)}_messages" do %>
                      <%= render @messages %>
                    <% end %>
                  </div>
                </div>
              </div>
              <% if @user %>
                <div class="extra content">
                  <%= render partial: 'messages/form', locals: { model: [@chatroom, @message] } %>
                </div>
              <% else %>
                <p class='mt-2 text-center text-secondary'>
                  <%= t('.you_should_enter') %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class='col-3'>
        <div class='card shadow p-3 mb-5 bg-body-tertiary rounded chatbox'>
          <div class='card-body'>
            <div class='card-text scroll'>
              <% if @users.try(:any?) %>
                <%= turbo_stream_from "chatroom_users" %>
                <%= turbo_frame_tag :users do %>
                  <%= render @users %>
                <% end %>
              <% else %>
                <p><%= t('chatroom.show.blank_participants') %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>