<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navigation">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <%= link_to t('global.menu.chatroom'), root_path, class: "nav-link", 'aria-current': "page" %>
        </li>
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to t('global.menu.your_chatrooms'), current_user_chatrooms_path, 
                class: "nav-link" %>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" 
              data-bs-toggle="dropdown" aria-expanded="false">
            <% if user_signed_in? %>
              <%= current_user.user_name %>
            <% else %>
              <%= t('global.menu.account') %>
            <% end %>
          </a>
          <ul class="dropdown-menu">
            <% if user_signed_in? %>
              <li>
                <%= link_to t('global.menu.edit_user'), edit_user_path(current_user), 
                    class: "dropdown-item" %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to t('global.menu.log_out'), session_path, 
                    data: { turbo_method: :delete }, class: "dropdown-item" %>
              </li>
            <% else %>
              <li>
                <%= link_to t('global.menu.log_in'), new_session_path, class: "dropdown-item" %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to t('global.menu.sign_up'), new_user_path, class: "dropdown-item" %>
              </li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <%= link_to '#', class: 'nav-link dropdown-toggle', data: {'bs-toggle': 'dropdown'}, 
            'aria-expanded': "false" do %>
            <%= tag.div '', class: "flag #{I18n.locale}-flag" %>
            <%= t I18n.locale %>
          <% end %>
          <ul class="dropdown-menu">
            <% I18n.available_locales.each do |locale| %>
              <li>
                <% if I18n.locale.to_s == locale %>
                  <%= tag.span t(locale), class: 'dropdown-item'%>
                <% else %>
                  <%= link_to t(locale), url_for(params_plus(locale: locale)),
                      class: 'dropdown-item' %>
                <% end %>
              </li>
              <li><hr class="dropdown-divider"></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>